body{
background-color: rgb(166, 204, 238);
}
header{
height: 50%;
display:block;
right: 10%;
background-color:#337ccf;
margin:auto;

}
.link{
float:right;
margin-right: 5%;
word-spacing: 40%;
}

#li{
list-style: none;
float:left;
padding: 5px 20px;
color:black;
font-family: Arial;
text-decoration: none;

}
li:hover{
background-color:#337ccf;
color:black;
}
a:link{
text-decoration: none;
}

#imagem_capa{ 
background-image: url("./img/terra.jpg");
text-align: center;
width: 100%;
height: 500px;
margin:10px 10px;
background-size: cover;

}
#titulo_capa {
color: white;
padding-top: 20%;
font-size: 70px;
line-height: 0.6;
text-align: center;
}

#sub_titulo {
color: white;
margin:20px;
border-top: 3px solid white;
text-shadow: 1px 1px  black;
}

#acao {
color: rgb(232, 19, 19);
text-align:initial ;
border: 2px rgb(40, 0, 0) solid;
padding:10px 15px;
text-rendering: initial;
}

.imagem_1{
float: left;
padding: 0 5%;
position:relative;
width:30%;
margin:0 5%;
}
.paragrafo_1{
font-family:'Times New Roman';
text-align: left;
margin-block: 0% 5%;
text-align: justify;
padding-block:0% 5%;
word-spacing: 20%;
line-height: 20px;

}
.imagem_2{
float: left;
width: 30%;
padding: 3% 5%;
position:relative;
margin: 0% 5%;
}
.paragrafo_2{
font-family:'Times New Roman';
text-align: left;
margin-block: 0 5%;
text-align: justify;
padding:  0% 2% ;
word-spacing: 15%;
line-height: 20px;
}
.imagem_3{
float: left;
width: 30%;
padding:0 5%;
position:relative;
margin: 0 5%
}

#paragrafo_3{
font-family:'Times New Roman';
text-align: left;
margin-block: 0 5%;
text-align: justify;
padding-block: 5 0% ;
line-height:25px;
}
.centralizado{
text-align: center;

}
.minha_foto{
float: left;
width: 50%;
padding:0 5%;
position:relative;
margin: 0 5px;
}

.sobre_mim{
text-align: left;

}
#eu{
float: flex;
font-family:'Times New Roman';
text-align: left;
margin-block: 0 5%;
text-align: justify;
padding:10 5%;
word-spacing: 5%;
line-height: 20px;
}
.rodape{
float:center;    
text-align: center;
margin: auto;
width: 80%;
font-size: 15px;
font-family:arial;
text-decoration: solid;
}

.creditos{
text-decoration: none; 
text-align: center;
}
#sites{
color:black
}

@media screen and (max-width:720px) {
.link,#li{
visibility: hidden;
display:block;

}
#acao,#titulo_capa,#sub_titulo{
text-align: center;
font-size: 17px;
}
#imagem_capa,.minha_foto,
#titulo_capa,#sub_titulo{
text-align:center;
width: 80%;height: 90%;
display:block;
margin:10px 30px;
float: none;
padding: 10 px;
background-image: center;
}

.imagem_1,.imagem_2,.imagem_3{
display: block;   
width: 80%;
padding: 20px;
margin:30px;
background-image:center;
}
.paragrafo_1,.paragrafo_2,#paragrafo_3,.centralizado{
    display: block; 
    text-align: center; 
    text-align: justify;
    width: 50%;
    margin: 50px;
    
}
#eu{
display: block;
width: 80%;
padding:0;
margin:10px auto;
float: none;

}
.creditos,.rodape{
text-align: left;
display: block;
}
}